<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='choose.css')}}" >
</head>
<body>
    <section class="aboutDecomposition">
        <div class="aboutDecomposition">
            <p>Here are some diseases
            </p>
            <p>Choose any one to know more!</p>
        </div>
    </section>
    

    <section class="decompCards">


        <div class="card">
            <div class="card-image dec1"></div>
            <h2>Heart disease</h2>
            <p class="cardPara">EcoKaari is an organisation which decomposes plastic.</p>
            <a href="/disease" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec2"></div>
            <h2>Liver disease</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec3"></div>
            <h2>Parkinson's disease</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec4"></div>
            <h2>Chronic Kidney disease</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

    </section>
    <section class="decompCards">


        <div class="card">
            <div class="card-image dec1"></div>
            <h2>Title</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec2"></div>
            <h2>Title</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec3"></div>
            <h2>Title</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

        <div class="card">
            <div class="card-image dec4"></div>
            <h2>Title</h2>
            <p class="cardPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta?</p>
            <a href="" class="button1">Know More</a>
        </div>

    </section>
</body>